# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist
dist-ssr
build/
.env
.env.local

# Ignore environment files in both apps
Client/.env
Client/.env.local
Server/.env
Server/.env.local

# IDE & System files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sqlite3
*.db

# Python virtual environments
venv/
.env/
.venv/
ENV/
env/
